* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* add 2 fonts*/
@import url('https://fonts.googleapis.com/css2?family=Kalnia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Kalnia&display=swap');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

img {
  padding: 0;
  display: block;
  margin: 0 auto;
  max-height: 80%;
  max-width: 80%;
}

main {
  max-width: 80%;
}

margins {
  max-width: 300px;
  
}

body {
  margin: 0;
  min-height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(/linktree/images/backroundimg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Merriweather", serif;
  line-height: 1.5;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

header {
  padding: 10px 0;
}

nav{
  margin: 0 auto;
  max-width: 1000px;
  border-radius: 20px;
}

.menu-bar ul {
list-style-type: none; 
display: flex;
justify-content: center; 
}

.menu-bar li {
margin: 0 20px; 
}

.menu-bar a {
text-decoration: none; 
color: #FFFAA0; 
font-size: 18px; 
font-weight: bold;
}

.menu-bar a:hover {
color: #FFD700; 
}

.aligntitle{
  text-align: center;
}

.portfolio{
  background:#fffaa0;
  height: 12px;
}
/*typography*/
    /*fonts*/

    /*sizing*/
    h1 { font-size: 60px; font-family: "Kalnia", serif;}
    h2 { font-size: 50px; font-family: "Kalnia", serif;}
    h3 { font-size: 40px; font-family: "Kalnia", serif;}
    p {font-size: 20px;}
    /*style and color*/
    h1 {
      color: #FFFAA0;
    }
    h2 {
      color: #FFFAA0;
    }
    h3{
      
      color:blanchedalmond;
      
    }
    p {
        color: white;
    }
    a {
        color: #fffaa0;
    }

img{
  margin: auto;
}