

  /* general*/
body {
    background:#F995C5; 

}
nav{
    margin: 0 auto;
    background:#ffc977; 
    max-width: 1000px;
    border-radius: 20px;
    box-shadow:7px 6px 28px 1px rgba(0, 0, 0, 0.24) ;
}

footer{
    margin: 0 auto; 
    max-width: 1000px;
    border-radius: 20px;
    text-align: center;
}
.footerdeets{
    background:#ffc977; 
    margin: 0 auto; 
    max-width: 1000px;
    border-radius: 20px;
    text-align:center ;
    box-shadow:7px 6px 28px 1px rgba(0, 0, 0, 0.24) ;
}
/*header section*/

.aligntitle{
    text-align: center;
}
ul {

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type:none;
    margin: 0 auto; 
    padding-inline-start: 0px;
}


.button {

    margin-top: 10%;
    padding: 8px;
    

}

                                      

/*grids*/

.container {
    display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  }

  main {
    background-color: #F995C5;

  }

  .cards {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
  }
  
  .col {
  display:inline-flex;
  flex-direction:column;
  justify-content:space-between;
  }

 
.albums {
   flex: 1;
   text-align: center;
}

.songs {
    flex: 1; 
    text-align: center;
}


/*typography*/

    /*sizing*/
    h1 { font-size: 45px; }
    h2 { font-size: 30px; }
    p {font-size: 20px;}

    /*style and color*/
    h1 {
        color: #FFFAA0;
    }
    h2 {
        color: #FFFAA0;
    }
    p {
        color: white;
    }
    a {
        color: #fffaa0;
        text-decoration: none;
    }

/*images*/

img {
    width: auto;
    height:auto;
    margin: 10px auto;
    border-radius: 10px;
  }

  .header-img {
    max-width: 500px;
    
    border-radius: 200px;
}  
.album-img{
    max-width: 480px;
    float: left;
}

  .song-img{
    max-width: 480px;
    float: right;
  }

  .chloe-img {
    max-width: 480px;
    margin: 0 auto; 
    border-radius: 20px;
    
  }

  


  .button, .external-link {
    border-radius: 20px;
    overflow:hidden;
    white-space: nowrap;
    max-height: 20px;
    background-color: rgb(255, 151, 40);;
    cursor: pointer;
    transition: 0.2s all;
    }
        

