/*grids*/

.main-flex {
    display:flex;
    flex-wrap:wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    justify-content: flex-end;
    align-content:flex-start;
}

header {
    grid-area: h1;
}

main {
    grid-area: m1;
}

.nav {
    grid-area: n; 
}

.albums {
   flex: 1;
   padding:20px; 
}

.songs {
    flex: 1;
    padding:20px; 
}

footer {
    grid-area: f1;
}

/* general*/
body {
    background: #F995C5;
    margin:auto;
    padding:0;
}

header {
    text-align: center;
}

ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
}

.float_center {
    margin:auto;
}

/*typography*/

    /*sizing*/
    h1 { font-size: 45px; }
    h2 { font-size: 30px; }
    p {font-size: 20px;}

    /*style and color*/
    h1 {
        color: #FFFAA0;
        text-align:center;
    }
    h2 {
        color: #FFFAA0;
    }
    p {
        color: white;
    }

/*images*/

img {
    display: inline-block;
    align-self: center;
    max-width: 100%;
    height:auto;
    margin:auto;
  }

  .header-img {
    max-width: 750px;
    margin: auto;
}

.album-img{
    max-width: 480px;
    float: left;
  
}
   
  .song-img{
    max-width: 480px;
    float: right;
  }

  .chloe-img {
    max-width: 480px;
    margin: auto;
  }
